*{
    box-sizing: border-box;   
    background-color: #1b1b1b;
}

body{
    display: block;
}

#header{
    border-right: 1px solid #444444;
    width: 16.3rem;
    position: fixed;
    height: 100vh;
    overflow: hidden;
    transition: all 0.4s ease-in-out 0s;
}

#header nav{
    width: 100%;
}

#header ul{
    list-style: none;
    font-size: 20px;
    padding: 20px 24px;
    text-align: center;
}

#header ul li{
    padding-top: 24px;
}

#header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* -------------------------------- */
/* -----------root----------------- */
/* -------------------------------- */
#root{
    position: absolute;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* opacity: 0.4; */
    z-index: -1;
}


/* -------------------------------- */
/* -----------Section inicio------- */
/* -------------------------------- */
#section-inicio{
    position: relative;
    margin-left: 16.3rem;
    min-height: 100vh;
}

#seccion-incio h1{
    color: #ff637d;
    font-size: 80px;
    font-weight: bold;
    margin-top: 20%;
}

/* .maquina-escribir{
    position: relative;
}

.maquina-escribir::after{
    content: '';
    border-left: 3px solid black;
    background: #fff;
    right: 0;
    height: 100%;
    position: absolute;
    animation: maquinaescribir 3s infinite alternate-reverse steps(16);
} */
/* 
@keyframes maquinaescribir {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
} */

#seccion-incio h3{
    font-size: 30px;
    color: rgb(119, 118, 118);
}

/* -------------------------------- */
/* ---------------Sobre mi--------- */
/* -------------------------------- */
#section-sobre-mi{
    position: relative;
    margin-left: 16.3rem;
    min-height: 100%;
}

#section-sobre-mi h1{
    color: #ff637d;
    font-size: 40px;
    font-weight: bold;
}

#section-sobre-mi h3{
    color: #fff;
    font-weight: bold;
}

#section-sobre-mi p{
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: justify;
    margin: 20px;
    letter-spacing: 1px;
    font-weight: lighter;
}

/* -------------------------------- */
/* -----------Skills--------------- */
/* -------------------------------- */
#section-kills{
    position: relative;
    margin-left: 16.3rem;
    min-height: 100vh;
}

#section-skills h1{
    font-size: 40px;
    font-weight: bold;
    color: #ff637d;
}

#container-skills{
    margin-top: 25px;
}

#section-skills dt{
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    color: #fff;
}

/* -------------------------------- */
/* -----------Proyectos------------ */
/* -------------------------------- */

#section-proyectos{
    position: relative;
    margin-left: 16.3rem;
    min-height: 100%;
}

#section-proyectos h1{
    color: #ff637d;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* -------------------------------- */
/* -----------Contacto------------- */
/* -------------------------------- */

#section-contacto{
    position: relative;
    margin-left: 16.3rem;
    min-height: 100%;
}

#section-contacto h1{
    color: #ff637d;
    font-size: 40px;
    font-weight: bold;
}
/* 
#container-contacto{
    margin-left: auto;
    margin-right: auto;
} */
/* -------------------------------- */
/* -----------Footer--------------- */
/* -------------------------------- */

#footer{
    height:70px;
    margin-top: 20px;
    padding: 20px;
    border-top: 1px solid #444444 ;
}

#footer p{
    font-weight: bold;
    color: rgb(119, 118, 118);
    color: #f794a4;
}